<!DOCTYPE html>
{% load staticfiles %}
{% load compressed %}
<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)]><!-->
<html class="no-js" lang="en"><!--<![endif]-->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>{% block title %}Sven{% endblock %}</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- http://davidbcalhoun.com/2010/viewport-metatag -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

<!-- http://www.kylejlarson.com/blog/2012/iphone-5-web-design/ -->
<meta name="viewport" content="user-scalable=0, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/colors.css' %}">
<link rel="stylesheet" media="print" href="{% static 'css/print.css' %}">
<!-- For progressively larger displays -->
<link rel="stylesheet" media="only all and (min-width: 480px)"
      href="{% static 'css/480.css' %}">
<link rel="stylesheet" media="only all and (min-width: 768px)"
      href="{% static 'css/768.css' %}">
<link rel="stylesheet" media="only all and (min-width: 992px)"
      href="{% static 'css/992.css' %}">
<link rel="stylesheet" media="only all and (min-width: 1200px)"
      href="{% static 'css/1200.css' %}">
<!-- For Retina displays -->
<link rel="stylesheet"
      media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)"
      href="{% static 'css/2x.css' %}">

<!-- Webfonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300'
      rel='stylesheet' type='text/css'>

<!-- Additional styles -->
<link rel="stylesheet" href="{% static 'css/styles/agenda.css' %}">
<link rel="stylesheet" href="{% static 'css/styles/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/styles/files.css' %}">
<link rel="stylesheet" href="{% static 'css/styles/form.css' %}">
<link rel="stylesheet" href="{% static 'css/styles/modal.css' %}">
<link rel="stylesheet" href="{% static 'css/styles/progress-slider.css' %}">
<link rel="stylesheet" href="{% static 'css/styles/switches.css' %}">
<link rel="stylesheet" href="{% static 'css/styles/table.css' %}">

<!-- Form Validator -->
<link rel="stylesheet"
      href="{% static 'js/libs/formValidator/developr.validationEngine.css' %}">

<!-- Google code prettifier -->
<!--	<link rel="stylesheet" href="{% static 'js/libs/google-code-prettify/sunburst.css' %}"> -->

<!-- glDatePicker -->
<link rel="stylesheet" href="{% static 'js/libs/glDatePicker/developr.css' %}">

<!-- DataTables -->
<link rel="stylesheet"
      href="{% static 'js/libs/DataTables/jquery.dataTables.css' %}">

<!-- JavaScript at bottom except for Modernizr -->
<script src="{% static 'js/libs/modernizr.custom.js' %}"></script>

<!-- For Modern Browsers -->
<link rel="shortcut icon" href="{% static 'img/favicons/favicon.png' %}">
<!-- For everything else -->
<link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}">

<!-- iOS web-app metas -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- iPhone ICON -->
<link rel="apple-touch-icon"
      href="{% static 'img/favicons/apple-touch-icon.png' %}" sizes="57x57">
<!-- iPad ICON -->
<link rel="apple-touch-icon"
      href="{% static 'img/favicons/apple-touch-icon-ipad.png' %}"
      sizes="72x72">
<!-- iPhone (Retina) ICON -->
<link rel="apple-touch-icon"
      href="{% static 'img/favicons/apple-touch-icon-retina.png' %}"
      sizes="114x114">
<!-- iPad (Retina) ICON -->
<link rel="apple-touch-icon"
      href="{% static 'img/favicons/apple-touch-icon-ipad-retina.png' %}"
      sizes="144x144">

<!-- iPhone SPLASHSCREEN (320x460) -->
<link rel="apple-touch-startup-image"
      href="{% static 'img/splash/iphone.png' %}" media="(device-width: 320px)">
<!-- iPhone (Retina) SPLASHSCREEN (640x960) -->
<link rel="apple-touch-startup-image"
      href="{% static 'img/splash/iphone-retina.png' %}"
      media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)">
<!-- iPhone 5 SPLASHSCREEN (640×1096) -->
<link rel="apple-touch-startup-image"
      href="{% static 'img/splash/iphone5.png' %}"
      media="(device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
<!-- iPad (portrait) SPLASHSCREEN (748x1024) -->
<link rel="apple-touch-startup-image"
      href="{% static 'img/splash/ipad-portrait.png' %}"
      media="(device-width: 768px) and (orientation: portrait)">
<!-- iPad (landscape) SPLASHSCREEN (768x1004) -->
<link rel="apple-touch-startup-image"
      href="{% static 'img/splash/ipad-landscape.png' %}"
      media="(device-width: 768px) and (orientation: landscape)">
<!-- iPad (Retina, portrait) SPLASHSCREEN (2048x1496) -->
<link rel="apple-touch-startup-image"
      href="{% static 'img/splash/ipad-portrait-retina.png' %}"
      media="(device-width: 1536px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)">
<!-- iPad (Retina, landscape) SPLASHSCREEN (1536x2008) -->
<link rel="apple-touch-startup-image"
      href="{% static 'img/splash/ipad-landscape-retina.png' %}"
      media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)">

<!-- Microsoft clear type rendering -->
<meta http-equiv="cleartype" content="on">

<!-- IE9 Pinned Sites: http://msdn.microsoft.com/en-us/library/gg131029.aspx -->
<meta name="application-name" content="Developr Admin Skin">
<meta name="msapplication-tooltip" content="Cross-platform admin template.">
<meta name="msapplication-starturl"
      content="http://www.display-inline.fr/demo/developr">
<!-- These custom tasks are examples, you need to edit them to show actual pages -->
<meta name="msapplication-task"
      content="name=Agenda;action-uri=http://www.display-inline.fr/demo/developr/agenda.html;icon-uri=http://www.display-inline.fr/demo/developr/img/favicons/favicon.ico">
<meta name="msapplication-task"
      content="name=My profile;action-uri=http://www.display-inline.fr/demo/developr/profile.html;icon-uri=http://www.display-inline.fr/demo/developr/img/favicons/favicon.ico">
<script src="{% static 'js/libs/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'js/sven.js' %}"></script>
</head>

<body class="clearfix with-menu with-shortcuts">

<!-- Prompt IE 6 users to install Chrome Frame -->
<!--[if lt IE 7]><p class="message red-gradient simpler">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
<![endif]-->

<!-- Title bar -->
<header role="banner" id="title-bar">
  <h2>Sven</h2>
</header>

<!-- Button to open/hide menu -->
<a href="#" id="open-menu"><span>Menu</span></a>

<!-- Button to open/hide shortcuts -->
<a href="#" id="open-shortcuts"><span class="icon-thumbs"></span></a>

<!-- Main content -->
<section role="main" id="main">

  <!-- Visible only to browsers without javascript -->
  <noscript class="message black-gradient simpler">Your browser does not support
    JavaScript! Some features won't work as expected...
  </noscript>

  <!-- Main title -->
  <hgroup id="main-title" class="thin">
    <h1>{% block heading %}{% endblock %}</h1>

    <h2>{% now "b" %} <strong>{% now "d" %}</strong></h2>
  </hgroup>

  <!-- The padding wrapper may be omitted -->
  <div class="with-padding">
    <!-- Main content here -->
    <div class="columns">
      <div class="twelve-columns six-columns-tablet">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</section>
<!-- End main content -->

<!-- Side tabs shortcuts -->
<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
  <!-- Active shortcut -->
  <li class="current"><a href="./" class="shortcut-dashboard" title="Dashboard">Dashboard</a>
  </li>
  <!-- Background shortcut -->
  <li><a href="#" class="shortcut-messages" title="Messages">Messages</a></li>
  <!-- Disabled shortcut -->
  <li><span class="shortcut-notes" title="Notes">Notes</span></li>
</ul>

<!-- Sidebar/drop-down menu -->
<section id="menu" role="complementary">

  <!-- This wrapper is used by several responsive layouts -->
  <div id="menu-content">

    <header>
      Administrator
    </header>

    <div id="profile">
      <img src="{% static 'img/user.png' %}" width="64" height="64"
           alt="User name" class="user-icon">
      Hello
      <span class="name">Elijah <b>Ethun</b></span>
    </div>

    <!-- By default, this section is made for 4 icons, see the doc to learn how to change this, in "basic markup explained" -->
    <ul id="access" class="children-tooltip">
      <!-- Icon with count -->
      <li><a href="#" title="Events">
        <span class="icon-inbox"></span>
        <span class="count" id="eventCounter">0</span>
      </a></li>
      <!-- Simple icon -->
      <li><a href="#" title="Calendar">
        <span class="icon-calendar"></span></a>
      </li>
      <!-- Disabled icon -->
      <li class="disabled">
        <span class="icon-gear"></span>
      </li>
    </ul>

    <!-- Navigation menu goes here -->
    <section class="navigable">
      <ul class="big-menu">
        <li class="with-right-arrow">
          <span><span class="list-count">1</span>Monitor Configuration</span>
          <ul class="big-menu">
            {% for locationGroup in menu_items %}
              <li class="with-right-arrow">
                <span>
                  <span class="list-count">{{ locationGroup.location_set.count }}</span>
                  <a href="{{ base_url }}{% url 'monitor:locationGroup' locationGroup.id %}"
                     class="button margin-right">edit</a>{{ locationGroup.name }}
                </span>
                <ul class="big-menu">
                  {% for location in locationGroup.location_set.all %}
                    <li class="with-right-arrow">
                      <span>
                        <span class="list-count">{{ location.location_device_set.count }}</span>
                        <a href="{{ base_url }}{% url 'monitor:location' location.id %}"
                           class="button margin-right">edit</a>{{ location.name }}
                      </span>
                      <ul class="big-menu">
                        {% for device in location.location_device_set.all %}
                          <li>
                            <a href="{{ base_url }}{% url 'monitor:device' device.id %}">{{ device.device.name }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </li>

        <li class="with-right-arrow">
          <span><span class="list-count">3</span>Events</span>
          <ul class="calendar-menu">
            <li>
              <a href="#" title="See event">
                <time datetime="2014-02-24"><b>20</b> Feb</time>
                <small class="green">10:30</small>
                Event's description
              </a>
            </li>
            <li>
              <a href="#" title="See event">
                <time datetime="2014-02-20"><b>20</b> Feb</time>
                <small class="green">8:22</small>
                Event's description
              </a>
            </li>
            <li>
              <a href="#" title="See event">
                <time datetime="2014-02-18"><b>18</b> Feb</time>
                <small class="green">16:42</small>
                Event's description
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>

    <div class="with-padding" id="sven-widgets"></div>

  </div>
  <!-- End content wrapper -->

  <!-- This is optional -->
  <footer id="menu-footer">
    <!-- Any content -->
    {% block footer %}
      Default footer
    {% endblock %}

    <div>&copy; 2014 Web Bender Consulting, LLC</div>
  </footer>

</section>
<!-- End sidebar/drop-down menu -->

<!-- JavaScript at the bottom for fast page loading -->

{% compressed_js 'core' %}

<script>
  var win = $(window),
      bod = $(document.body),
      main = $('#main'),
      init = false;

  // Ajax navigation
  $(document).on('click', 'a', function (event) {
    var link = $(this),
        href = link.attr('href'),
        docmenu;

    // Some elements from the doc shouldn't be processed
    if (link.closest('#main').length > 0 && link.closest('.navigable, .collapsible').length > 0) {
      return;
    }

    // If local link
    if (href && !href.match(/^(https?:|#|\.\/|javascript:)/)) {
      event.preventDefault();
      window.location.hash = '#' + href;
      if (!bod.parent().hasClass('hashchange')) {
        win.hashchange();
      }

      // If in menu, add visual indicator
      docmenu = link.closest('#doc-menu');
      if (docmenu.length > 0) {
        docmenu.find('.current').removeClass('current');
        link.addClass('current');
      }
    }
  });

  // Listen to hash changes
  win.hashchange(function (event) {
    var hash = $.trim(window.location.hash || '');
    if (hash.length > 1) {
      main.load(hash.substring(1), function () {
        // Code display
        prettyPrint();

        // Scroll
        if (init) {
          bod.animate({
            scrollTop: 0
          });
        }
      });
    }
    else {
      window.location.reload();
    }
  });

  // Init
  if (window.location.hash && window.location.hash.length > 1) {
    win.hashchange();
  }
  init = true;

  // Documentation won't work on local files with chrome
  if (document.location.protocol === 'file:' && navigator.userAgent.match(/Chrome/)) {
    $.modal.alert('<p>The documentation won\'t work on Chrome because you opened it as a local file. Place files on any web server to browse it safely.</p>Or use another modern brower, but Chrome just rocks...');
  }
</script>
<input type="hidden" class="global_module_listing" />
<input type="hidden" class="module_factory_status" />
</body>
</html>