<div class="component_wrapper">
  <!-- Unit Code -->
  <label class="label">
    <span class="info-spot">
      <span class="icon-info-round"></span>
      <span class="info-bubble with-border" style="width: 200px;">
        Unit Code Info
      </span>
    </span>

    Unit Code
  </label><br />
  <span class="button" id="unitCodeListen">Unit code listener</span>

  <input id="input_unitcode" name="input_unitcode" class="validate[required] input margin-bottom" type="text" placeholder="Ex: 481881817" value="{{ data.parameters.unitcode }}" />
  <br />
  <br />
</div>