<div class="component_wrapper">
  <!-- Espeak Rate -->
  <label class="label">
    <span class="info-spot">
      <span class="icon-info-round"></span>
      <span class="info-bubble with-border" style="width: 200px;">
        Espeak words per minute ( default 175 )
      </span>
    </span>

    Espeak words per minute
  </label><br />

  <input id="input_espeakrate" name="input_espeakrate" class="input full-width margin-bottom" type="text" placeholder="Ex: 175" value="{{ data.parameters.espeakrate }}" />
  <br />
</div>