<div class="component_wrapper">
  <!-- Username -->
  <label class="label">
    <span class="info-spot">
      <span class="icon-info-round"></span>
      <span class="info-bubble with-border" style="width: 200px;">
        Username
      </span>
    </span>

    Username
  </label><br />

  <input id="input_username" name="input_username" class="validate[required] input full-width margin-bottom" type="text" placeholder="Ex: someone@someplace.com" value="{{ data.parameters.username }}" />
  <br />
</div>